/*---------------------------------------------------------------------------*\
    
    Colors

    Mandatory code to be included in the main scss file.

    SASS variables of colors used in the app. These are use for manipulating 
    and making variants of the colors.

\*---------------------------------------------------------------------------*/

// Solid colors
$color-text: #24292f;
$color-success: #1f883d;
$color-error: #b01030;
$color-info: #0969da;
$color-warning: #da7f09;