/*---------------------------------------------------------------------------*\
    
    Alert

    Optional component, to be included in the main scss file.

    Colored element to display a highlighted message. The element may be 
    closed on click. This component is usually used to display a message or
    notification.

    Features:

    - Can be used to style any Html element.

    - Closing function (removes the element).

\*---------------------------------------------------------------------------*/

// Colors
@use "../includes/colors";

.alert {

    &.success {
        color: #{darken(colors.$color-success, 3)};
        background-color: #{change-color(colors.$color-success, $alpha: 0.10)};
        border-color: #{change-color(darken(colors.$color-success, 4), $alpha: 0.5)};
        // Colors for certain elements
        header {
            background-color: #{change-color(colors.$color-success, $alpha: 0.15)};
        }
        // Links
        &:is(a) {
            &:hover, &:focus {
                background-color: #{colors.$color-success};
                color: white;
            }
        }
    }

    &.error {
        color: #{darken(colors.$color-error, 3)};
        background-color: #{change-color(colors.$color-error, $alpha: 0.10)};
        border-color: #{change-color(darken(colors.$color-error, 2), $alpha: 0.5)};
        // Colors for certain elements
        header {
            background-color: #{change-color(colors.$color-error, $alpha: 0.15)};
            border-bottom-color: #{change-color(darken(colors.$color-warning, 2), $alpha: 0.3)};
        }
        // Links
        &:is(a) {
            &:hover, &:focus {
                background-color: #{colors.$color-error};
                color: white;
            }
        }
    }

    &.warning {
        color: #{darken(colors.$color-warning, 13)};
        background-color: #{change-color(colors.$color-warning, $alpha: 0.15)};
        border-color: #{change-color(darken(colors.$color-warning, 8), $alpha: 0.5)};
        // Colors for certain elements
        header {
            background-color: #{change-color(colors.$color-warning, $alpha: 0.20)};
            border-bottom-color: #{change-color(darken(colors.$color-warning, 8), $alpha: 0.3)};
        }
        // Links
        &:is(a) {
            &:hover, &:focus {
                background-color: #{colors.$color-warning};
                color: white;
            }
        }
    }

    &.info {
        color: #{darken(colors.$color-info, 3)};
        background-color: #{change-color(colors.$color-info, $alpha: 0.10)};
        border-color: #{change-color(darken(colors.$color-info, 2), $alpha: 0.5)};
        // Colors for certain elements
        header {
            background-color: #{change-color(colors.$color-info, $alpha: 0.15)};
        }
        // Initially, links have a similar color (blue) as the info text. So it's hard to see that they are links if they are inside an info alert element. Set another color to prevent this.
        a:not(.close[class^="icon-"]:empty, .close[class*=" icon-"]:empty) {
            color: var(--color-text);
        }
        // Links
        &:is(a) {
            &:hover, &:focus {
                background-color: #{colors.$color-info};
                color: white;
            }
        }
    }

    &.fade-out {
        // Fade out
        transition: opacity 0.4s ease-in;
        opacity: 0;
    }
}