/*---------------------------------------------------------------------------*\
    
    Dialog

    Optional component, to be included in the html file.

    Displays content in a dialog box, a subwindow above the other elements of 
    the page.

\*---------------------------------------------------------------------------*/

dialog {
    padding: 0;
    border: 1px solid black;
    border-radius: var(--border-radius-button);
    box-shadow: 0 0 16px rgba(0,0,0,0.6);
    max-width: calc(100vw - (var(--padding-container-vertical) * 2));
    max-height: calc(100vh - var(--padding-container-vertical));

    &::backdrop {
        background-color: black;
        opacity: .4;
    }

    form {
        position: relative;
        padding: var(--padding-container-vertical) var(--padding-container-vertical);
        margin: 0;
        line-height: 1.3;
        background-color: white;
        min-width: 24px;
        min-height: 24px;
        max-width: inherit;
        max-height: inherit;
        border-radius: inherit;

        &:focus {
            outline: none;
        }

        & > button:first-child:empty {
            position: absolute;
            top: var(--padding-container-vertical);
            right: var(--padding-container-vertical);
            display: block;
            font-size: 14px;
            line-height: 20px;
            height: 20px;
            width: 20px;
            color: rgba(0,0,0,0.6);
            text-align: center;
            border-radius: var(--border-radius-button);
            cursor: pointer;
            font-family: 'jm-admin' !important;
            speak: never;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            padding: 0;
            margin: 0;
            border: none;
            background-color: rgba(255,255,255,0.2) !important;

            &:hover, &:focus {
                background-color: var(--color-link-background-hover) !important;
                text-decoration: none;
                color: rgba(0,0,0,0.9) !important;
            }

            &:before {
                content: "\e900"
            }
            // Make room for close button on typography
            & + *:is(h1, h2, h3, h4, h5, p) {
                padding-right: calc(var(--padding-container-vertical) + 20px);
            }
        }
        // Media
        &:has(>img:nth-child(2), >iframe[src*="youtube.com"]:nth-child(2), >iframe[src*="vimeo.com"]:nth-child(2)) {
            & > button:first-child:empty {
                color: rgba(255,255,255,0.6);
                background-color: transparent !important;

                &:hover, &:focus {
                    background-color: var(--color-link) !important;
                    color: white !important;
                    outline: none;
                }
            }
        }

        &:has(>img:last-child, >iframe[src*="youtube.com"]:last-child, >iframe[src*="vimeo.com"]:last-child) {
            padding: 0;
            background-color: black;
        }

        & > img, & > iframe {
            display: block;
            margin-bottom: var(--padding-container-vertical);
        }

        img, iframe {
            max-width: 100%;
            max-height: calc(100vh - var(--padding-container-vertical));
            height: auto;
        }

        iframe {
            border: none;
        }

        &:has(>iframe[src*="youtube.com"]:last-child,>iframe[src*="vimeo.com"]:last-child) {
            aspect-ratio: 16 / 9;
        }

        & > iframe[src*="youtube.com"], & > iframe[src*="vimeo.com"] {
            aspect-ratio: 16 / 9;
        }

        & > *:last-child {
            margin-bottom: 0 !important;
        }

        &.loading:after {
            display: block;
            width: 40px;
            height: 40px;
            margin: 20px;
            border-width: 4px;
        }
    }
}