/*---------------------------------------------------------------------------*\
    
    Horizontal labels

    Mandatory code to be included in the main scss file.

    Styles for text labels related to form elements.

    - Influenced by Tailwind CSS inline form:  
      (https://v1.tailwindcss.com/components/forms).

\*---------------------------------------------------------------------------*/

// Breakpoints
@use "../includes/breakpoints";

.horizontal-label {
    display: grid;
    align-items: flex-start;
    grid-column-gap: calc(var(--padding-buttons) * 2);
    grid-template-columns: minmax(min-content, max-content) minmax(0, 1fr);
    margin: 0 0 var(--margin-paragraph-bottom) 0;
    font-size: .875rem;

    &.center {
        grid-template-columns: minmax(min-content, max-content) minmax(0, max-content);
        justify-content: center;
    }

    &.right {
        grid-template-columns: minmax(min-content, max-content) minmax(0, max-content);
        justify-content: right;
    }

    & > label {
        display: inline-block;
        font-weight: 600;
        line-height: 1.3;
        color: var(--color-text-light);
        padding: 0;
        margin: 0;

        &:has(+ input, + textarea, + select) {
            padding-top: calc(var(--padding-buttons) * 0.8571);
        }

        &:has(+ * input, + * textarea, + * select) {
            padding-top: calc(var(--padding-buttons) * 0.8571);
        }
    }

    & > *:not(label) {
        grid-column: 2;
    }

    @include breakpoints.for-phone-only {
        &.collapse {
            display: block;

            & > label {
                display: block;
                padding: 0;
                margin: 0 0 var(--padding-buttons) 0;
            }
        }
    }
}
// Component in dark content section
section.content.dark {
    &.horizontal-label > label, .horizontal-label > label {
        color: var(--color-text);
    }
}